// Fonts
// @import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
// @import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #fff;
}

.side-navbar {
    width: 180px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    transition: 0.5s;
}

.nav-link:active,
.nav-link:hover {
    background-color: blue;
}

.nav-item a{
    color: #fff;
    height: 50px;
    font-size: 16px;
}

.nav-item a.active,
.nav-item a:hover{
    // color: #00FFF5;
    color: white;
}

.my-container {
    transition: 0.4s;
    min-height: 10vh;
}

.active-nav {
    margin-left: 0;
}

  /* for main section */
.active-cont {
    margin-left: 180px;
}

#menu-btn {
    color: #414141;
    margin-left: -40px;
    font-size: 24px;
}

.form-group{
    padding-top: 10px;
}
